<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <div class="container">
      <div class="login form">
        <header>Error</header>
        
        <div class="error-message">
          <span class="error-icon">&#9888;</span>
          <span>{{ error_message }}</span>
        </div>
        
        <div class="signup">
          <span class="signup">
           <a href="/">Back to Login</a>
          </span>
        </div>
      </div>
    </div>
  </body>
</html>