<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <div class="container">
      <div class="login form">
        <header>Forgot Password</header>
        
        <form action="/forgot-password" method="post">
          <input type="email" name="email" placeholder="Enter your email address" required>
          {% if error_message %}
          <div class="error-message">
              <span class="error-icon">&#9888;</span>
              <span>{{ error_message }}</span>
          </div>
          {% endif %}
          <input type="submit" class="button" value="Reset Password">
        </form>
        <div class="signup">
          <span class="signup">
           <a href="/login-page">Back to Login</a>
          </span>
        </div>
      </div>
    </div>
  </body>
</html>