<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Email Sent</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <div class="container">
      <div class="login form">
        <header>Password Reset Email Sent</header>
        
        <div class="success-message">
          <p>If an account exists with the email you provided, we've sent password reset instructions to that email address.</p>
          <p>Please check your inbox and follow the instructions in the email.</p>
        </div>
        
        <div class="signup">
          <span class="signup">
           <a href="/login-page">Back to Login</a>
          </span>
        </div>
      </div>
    </div>
  </body>
</html>