<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/static/css/profile.css">
    <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a class="logo">Play With FastAPI</a>
            <ul class="nav-links" id="navLinks">
                <li><a href="/home" class="active">Home</a></li>   
                <li><a href="/profile">Profile</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><button class="logout-btn" id="logoutBtn">Log Out</button></li>
            </ul>
        </div>
    </nav>

    <script src="/static/js/home.js" ></script>
</body>
</html>